body{
    background-color: #F3F5F7;
}
    .login_input{
        text-align:center;
        width:90%;
    }
    .login_btn{
        margin-top: 1em;
        width:90%;
        margin-left:4%;
    }
    .login_logo{
    	text-align: center;
    	margin-top: 10px;
    }
    .login_logo img{
    	width:90px ;
		height:90px;
    }
	.login_btn_other {
	  text-align: center;
	  font-size: 12px;
	}