 
html {
	font-size: 20.66667vw;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
 
 
.gc-item {
	box-sizing: border-box;
	padding: .13rem 0 .11rem .12rem;
	text-align: justify;
	margin-bottom: .08rem;
	border-bottom: 1px solid #ededed;
	background-color: #fff;
	width: 100%;
}

.gc-item .gc-top {
	width: 100%;
	margin-bottom: .08rem;
	padding-right: .12rem;
	font-size: 0;
}

.gc-item .gc-top .gc-avatar-wrapper {
	display: inline-block;
	vertical-align: top;
}

.gc-item .gc-top .gc-avatar-wrapper img {
	height: .33rem;
	width: .33rem;
	border-radius: 100%;
	border: 1px solid #e0e0e0
}

.gc-item .gc-top .gc-info {
	display: inline-block;
	padding-left: .06rem;
	height: .33rem;
	line-height: .34rem
}

.gc-item .gc-top .gc-info .gc-name {
	max-width: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: .16rem;
	color: #58595b
}
 
.gc-item .gc-top .gc-time {
	float: right;
	color: #9c9c9c;
	font-size: .12rem;
	height: .33rem;
	line-height: .34rem
}

.gc-item .gc-main {
	color: #999;
	font-size: 0;
	line-height: 1.5;
	padding-right: .12rem
}

.gc-item .gc-main span {
	display: inline-block;
	font-size: .15rem;
	word-break: break-all
}
 
.gc-item .gc-spec {
	font-size: .12rem;
	color: #9c9c9c;
	margin-top: .07rem;
	width: 100%;
	word-break: break-all
}

.gc-item .gc-spec div {
	line-height: .18rem;
	display: inline-block;
	margin-right: .13rem
}

.gc-item .gc-spec div span:first-child {
	margin-right: .04rem
}
 

.gc-item-fit-add-spec {
	padding-bottom: .09rem
}